*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header{
  width: 100%;
  background-image: url(./img/puntitos.svg);
  padding: 18px 17px 0;
}

.nav{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img{
  width: 100px;
  height: 100%;
}

.menu-icon-container{
  width: 54px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon span{
  display: block;
  width: 36px;
  height: 6px;
  margin-bottom: 5px;
  background-color: #141414;
  border-radius: 3px;
}

.titulo-container{
  width: 291px;
  margin: 94px auto 0;
}
.titulo-principal{
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.foto-container{
  width: 100%;
  height: 100%;
  margin: 55px auto 0;
  max-width: 350px;
}
.foto-principal{
  width: 100%;
  height: 100%;
}

.descripcion-container{
  background-color: #141414;
  padding: 0 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitulo-container{
  padding: 55px 0;
}
.subtitulo-descripcion{
  margin: 0;
  font-size: 32px;
  color: #fafafa;
  text-align: center;
  margin-bottom: 41px;
}
.parrafo-description{
  color: #fafafa;
}

.donut-container{
  width: 100%;
  text-align: center;
  padding-bottom: 55px;
}

.servicios-container{
  width: 100%;
  margin: 0 auto;
}
.subtitulo-servicios{
  text-align: center;
  font-size: 32px;
  margin: 60px 0;
}
.tarea-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarea{
  width: 270px;
  text-align: center;
  margin-bottom: 105px;
}
.tarea-img{
  width: 100%;
}
.tarea h3{
  font-size: 24px;
}

.form-container{
  background-color: #141414;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.subtitulo-form{
  font-size: 24px;
  color: #fafafa;
  text-align: center;
  padding: 36px 0;
}
.form{
  width: 100%;
  display: grid;
  gap: 36px;
  /* max-width: 450px; */
}
.input-mail,
.input-mensaje,
.input-nombre{
  width: 100%;
  height: 45px;
  background-color: #e5e5e5;
  border: none;
  font-size: 24px;
  /* font-family: "Roboto", sans-serif; */
  /* padding: 10px; */
}
.input-mensaje{
  height: 115px;
  margin-bottom: 60px;
}
.label{
  display: block;
  color: #e5e5e5;
}
.btn{
  background-color: #ffd953;
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}